a {
    color:black;
}
.completed, .user-link, .tie {
    color:gray;
}
.published, .win, .for{
    color:green;
}
.loss, .against{
    color:red;
}
.active-vote{
    font-weight:bold;
}

.achievement-name{
    float:left;
    width:600px;
}
.achievement-owner{
    float:left;

}
.achievement-row{
    clear:both;
    padding:4px;
}

.hand{
    cursor:pointer;
}

.hand:hover{
    text-decoration:underline;
}
.text-button{
    color:grey;
    font-size:16px;
    text-decoration:none;
}
.h-normal{
    font-size:16px;
    font-weight:normal;

}
.tag{
    background-color:lightgrey;
    margin-right:8px;
    padding:4px;
}
.tag-box{
    background-color:#a9a9a9;
    padding-left:4px;
    padding-top:2px;
    padding-bottom:2px;
    border:1px dotted grey ;
    margin-left:6px;
border-radius:4px 4px 4px 4px;
}

.active-filter{
    text-decoration:underline;
}

.active-tag{
    color:#555555;
}

.login-input{
    width:125px;

}
.login-caption{
    width:90px;
    float:left;
    text-align:right;
}
.underline-hover{
    text-decoration:none;
}
.underline-hover:hover{
   text-decoration:underline; 
}

