.hand{
    cursor:pointer;
}
.text-button{
    color:grey;
    font-size:16px;
}
.h-normal{
    font-size:16px;
    font-weight:normal;

}
.tag{
    background-color:lightgrey;
    margin-right:8px;
    padding:4px;
}
