.hand{
    cursor:pointer;
}

.hand:hover{
    text-decoration:underline;
}
.text-button{
    color:grey;
    font-size:16px;
}
.h-normal{
    font-size:16px;
    font-weight:normal;

}
.tag{
    background-color:lightgrey;
    margin-right:8px;
    padding:4px;
}
.tag-box{
    background-color:#a9a9a9;
    padding-left:4px;
    padding-top:2px;
    padding-bottom:2px;
    border:1px dotted grey ;
    margin-left:6px;
border-radius:4px 4px 4px 4px;
}

.active-filter{
    text-decoration:underline;
}

.active-tag{
    color:#555555;
}
